body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

a {
	color: #3b73af;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.splite-line {
	border-bottom: 1px solid #ccc;
}

div.page-footer {
	margin: 0 auto 0px;
	width: 200px;
	padding-top: 20px;
}

div.page {
	width: 100%;
}

div.container-wrap {
	margin-left: 30px;
	float: left;
}

/* ------------ */
/** Left side menu **/
.left-side-menu-bar {
	max-width: 200px;
	min-width: 80px;
	min-height: 500px;
	padding-top: 30px;
	width: 20%;
	background-color: #F5F5F5;
	float: left;
}

.left-side-menu-head {
	font-size: 20px;
	font-weight: 400px;
	line-height: 30px;
	padding-left: 10px;
	margin-bottom: 5px;
}
.left-side-menu-head a:hover {
	text-decoration: none;
}

.left-side-menus {
	padding-top: 15px;
	padding-bottom: 30px;
}

.side-menu a {
	color: #000000;
	text-decoration: none;
	width: inherit;
	display: block;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
}

.side-menu {
}

.side-menu.active, .side-menu.active a, .side-menu.active:hover, .side-menu.active a:hover {
	background-color: #0088cc;
	color: white;
	cursor: default;
}

.side-menu:hover {
	background-color: #D9EDF7;
	cursor: pointer;
}

.side-menu span {
	padding: 10px;
}
/**end of Left side menu **/

/* ------------ */
/***/

div.setting-wrap {
	margin-top: 70px;
	padding-left: 50px;
	min-width: 300px;
	width: 300px;
}

div.setting-pane {
	margin-bottom: 20px;
}

div.caf-label-head {
	padding-bottom: 5px;
}

div.caf-content-area {

}

/***********************/
select {
	width: 220px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: auto;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	font-size: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 30px;
	/* In IE7, the height of the select element cannot be changed by height, only font-size */
	*margin-top: 4px;
	/* For IE7, add top margin to align select with labels */
	line-height: 30px;
}

select:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

/*******************/

/* ------------ */
input[type="email"], input[type="text"], input[type="password"] {
	display: inherit;
	border: 1px #ccc solid;
	width: 98%;
	padding: 1px 1px 1px 5px;
	background-color: #fff;
	outline: 1;
	min-height: 28px;
	position: relative;
	margin-bottom: 10px;
	color: #005580;
}

input[type="submit"] {
	border: 1px #0088cc solid;
	min-height: 32px;
	min-width: 220px;
	position: relative;
	background-color: #0088cc;
	color: #FFF;
	font-size: 18px;
	font-weight: 400;
	width: 100%;
}

input[type="submit"]:hover {
	cursor: pointer;
	padding-right:3px;
	padding-top:3px;
}
input[type="submit"]:active {
	font-weight: 500;
}

/** From style begin ***/
div.form-wrap {
	min-width: 280px;
	border: 1px solid #ccc;
	background: #fff;
	padding: 30px;
}

.form-login .login-head, .form-signup .signup-head {
	font-size: 24px;
	font-weight: 800;
}

.form-login .signup-head, .form-signup .login-head {
	font-size: 24px;
	font-weight: 100;
	color: #CCCCCC;
	cursor: pointer;
}

.form-login .signup-head:hover, .form-signup .login-head:hover {
	color: #009ad9;
	font-weight: 600;
}

div.form-wrap  a {
	font-size: 12px;
	font-weight: 800;
}

div.wrap-head {
	margin-bottom: 20px;
}
div.wrap-head span {
	padding-right: 20px;
}

div.login-box, div.signup-box {
	margin-top: 20px;
	margin-bottom: 15px;
}

div.forgot-passwd-tips {
	padding-top: 10px;
}

div.social-account {
	padding-top: 10px;
}

div.signup-btn-grp input, div.login-btn-grp input {
	width: 100%;
}

div.form-container {
	padding-top: 10px;
	float: left;
}
/** Form style end */

/** Content style begin */
div.content-wrap {
	float: left;
	border-right: 1px solid #009ad9;
	min-height: 350px;
	margin-bottom: 40px;
	margin-right: 50px;
	padding-top: 20px;
	padding-right: 90px;
	padding-left: 50px;
}

div.content-wrap span {
	font-size: 28px;
	font-weight: 800;
}

div.content-wrap ul li {
	padding-bottom: 10px;
}
/** Content style end */

div#login-error-msg, div#signup-error-msg {
	max-width: 260px;
	margin-top: 15px;
	padding: 5px;
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	border: 1px solid #fbeed5;
}

